<%= form_for(@curriculum) do |f| %>
  <% if @curriculum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curriculum.errors.count, "error") %> prohibited this curriculum from being saved:</h2>

      <ul>
      <% @curriculum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :qualification %><br>
    <%= f.text_area :qualification %>
  </div>
  <div class="field">
    <%= f.label :graduation %><br>
    <%= f.text_field :graduation %>
  </div>
  <div class="field">
    <%= f.label :languages %><br>
    <%= f.text_field :languages %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
