<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Occupation</th>
      <th>Salary</th>
      <th>Description</th>
      <th>Qualification</th>
      <th>Graduation</th>
      <th>Vacancies</th>
      <th>Workplace</th>
      <th>Benefits</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.occupation %></td>
        <td><%= job.salary %></td>
        <td><%= job.description %></td>
        <td><%= job.qualification %></td>
        <td><%= job.graduation %></td>
        <td><%= job.vacancies %></td>
        <td><%= job.workplace %></td>
        <td><%= job.benefits %></td>
        <td><%= job.schedule %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
