<!DOCTYPE html>
<html>
<head>
  <title>Visatos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% unless logged_in? %>
<%= form_for(:user, url: sessions_path) do |f| %>
    <div class="field">
        <%= f.label :username %> <br/>
        <%= f.text_field :username %>
    </div>
<p/>
    <div class="field">
        <%= f.label :password %> <br/>
        <%= f.password_field :password %>
    </div>
<p/>
    <div class="actions">
        <%= f.submit "Login" %>
    </div>
    
<% end %>
<% end %>

<% if logged_in? %>
  <div style='float: right;'>
    Logged in as <%= current_user.username %> |
    <%= link_to "Logout", logout_path, method: :delete %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
